<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">
          <p>	Over 5 years of extensive experience as Java/J2EE Developer building web - based enterprise application for banking domain
          </p>
          <p>	Expertise in various methodologies of the Software Development Lifecycle (SDLC) process including analysis, design, development, implementation, integration, testing, debugging, production & maintenance.
          </p>
          <p>	High Proficiency with Object Oriented Programming Design, Multi-threading, Exception Handling, Data Structures and Algorithms, Collections, Garbage Collection, Method References, Functional Interfaces
          </p>
          <p>	Extensive experience using Java technologies: Core Java, JDBC, JSP, Servlets.
          </p>
          <p>	Experienced in using J2EE Design Patterns, MVC, Session Facade, Service Locator, Data Access Object, Data Transfer Object / Value Object, Business Delegate and Factory.
          </p>
          <p>	Experience with different modules of Spring Framework like Spring Core Container, Spring MVC, Spring AOP, Spring Data JDBC, Spring Boot.
          </p>
          <p>	Expertise in developing GUI using Web-Development technologies like HTML, JavaScript, CSS, HTML5, Angular JS and jQuery.
          </p>
          <p>	Strong experience with the relational databases like Oracle-12c/11g, MySQL-5.x
          </p>
          <p>	Experience in creating build scripts using Ant, Maven
          </p>
          <p>	Experience in configuring and deploying Web Applications using IBM WebSphere, Apache Tomcat 
          </p>
          <p>	Experience in de-bugging using implementation of Apache Log4j for logging and Jira, GitLab for issue-tracking.
          </p>
          <p>	Very good experience in using Git, SVN for version control 
          </p>
          <p>	Expertise in developing enterprise applications using Jenkins for Continuous Integration and Continuous Deployment (CI/CD)
          </p>
          <p>	Extensive development exp on different IDE’s like Eclipse and Spring tool suite.
          </p>
          <p>	Proficient in Behavior Driven Development (BDD) and Test-Driven Development (TDD) approach using SCRUM framework under Agile Methodology.
          </p>
          <p>	Excellent client interaction skills and proven experience in working independently as well in a team. </p>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About -->